.container {
    width: 50%;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 5%;
    border: rgba(104, 104, 104, 0.356) 2px solid;
}

input {
    width: 80%;
    margin: auto;
}

button {
    width: 80%;
    margin: auto;
    background-color: black;
    border: none;
    color: white;
    height: 35px;
    font-size: 18px;
    margin-bottom: 4%;
    border-radius: 5px;
}