.form {
    width: 50%;
    text-align: center;
    margin: auto;
    margin-top: 3%;
}

input[type="text"] {
    width: 80%;
    margin-left: 15px;
    height: 40px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid silver;
}

.label {
    background-color: rgb(255, 169, 136);
    color: white;
    width: 80%;
    margin-left: 3%;
    margin-top: 2%;
    border-radius: 5px;
}

textarea {
    width: 80%;
    margin-left: 15px;
    height: 100px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid silver;
    font-family: helvetica;
}

button {
    width: 80%;
    margin-left: 15px;
    background-color: cornflowerblue;
    border: none;
    color: white;
    height: 35px;
    font-size: 18px;
    margin-top: 10px;
    border-radius: 5px;
}