.container {
    width: 50%;
    text-align: center;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    border: rgba(104, 104, 104, 0.356) 2px solid;
}

img {
    height: 90px;
    margin: 4%;
}

p {
    size: 35%;
    color: rgb(128, 128, 128);
}

input {
    width: 80%;
    margin: auto;
}

button {
    width: 80%;
    margin: auto;
    background-color: black;
    border: none;
    color: white;
    height: 35px;
    font-size: 18px;
    margin-bottom: 4%;
    border-radius: 5px;
}